.choice {
    grid-area: m;
    padding-top: 1%;
    text-align: center;
    width: 90%;
    margin: 0 auto;

    table {
        width: 80%;
        margin: auto;
        border-spacing: 20px;
    }
    td:hover{
        transform: scale(1.1);
    }
    td {
        list-style-type: none;
        min-width: fit-content;
        background-color: lightgray;
        border-radius: 5px;
        box-shadow: 7px 7px 15px black;
        padding: 20px;
        cursor: pointer;
        transition: all .2s ease-in-out;

        p{
            font-size: large;
            color : black;
            text-decoration: none;
        }
        
    }

    td:hover {
        background-color: gray;

        a:hover {
            background-color: gray;
        }
    }
}