.game {
    grid-area: m;
    background-color: rgba(117, 190, 218, 0.7);
    position: relative;
    padding: 55px 5% 5% 5%;
    border: 5px solid rgb(28, 2, 53);
    display: grid;
    grid-template-columns: 20% 30% 30% 20%; 
    grid-template-areas:
        "b b b b"
        "t t t t"
        "e e e e"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "start other1 other2 goal"
        "d d d d";

    .buttonWin {
        background-image: linear-gradient(to right, #d4ddf5, #97b4fc);
        border: 2px solid lightgray;
        border-radius: 15px;
        font-size: 30px;
        height: 100px;
        left: 50%;
        margin-left: -163px;
        margin-top: -59px;
        position: absolute;
        top: 40%;
        width: 326px;
    }

    .buttonWin:hover {
        border: 2px solid black;
    }

    .bouton {
        grid-area: b;
        align-items: center;
        margin: auto;
        position:sticky;
        top: 55px;
        z-index: 20;

        div {
            display: inline-block; 
        }

        button {
            cursor: pointer;
            margin-bottom: 0.8vh;
            margin-left: 1vh;
            margin-right: 1vh;
            margin-top: 0.8vh;
            position: relative;
        }

        .buttonAction {
            background-image: linear-gradient(to right, #d4ddf5, #97b4fc);
            border: 2px solid lightgray;
            border-radius: 5px;
            height: 42px;
            width: auto;
    
            img {
                height: 35px;
                width: auto;
            }
        }

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            height: 20px;
            line-height: 20px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 50;
            top: 120%;
            left: 50%;
            font-size: small;
            transform: translateX(-50%);
        }

        .tooltiptext::after {
            border-color: transparent transparent black transparent;
            border-style: solid;
            border-width: 5px;
            bottom: 100%;
            content: "";
            left: 50%;
            margin-left: -5px;
            position: absolute;
        }
        

        #checkBoxSimple {
            margin-bottom: 0.8vh;
            margin-left: 1vh;
            margin-right: 1vh;
            margin-top: 0.8vh;
            position: relative;
            top: -10px;

            .tooltiptext {
                top: 180%;
                width: 200px;
            }
        }

        .buttonAction:hover {
            border: 2px solid black;

            .tooltiptext {
                visibility: visible;
            }
        }

        #checkBoxSimple:hover {
            [type="checkbox"] + label:before{
                border: 2px solid black;
            }
            
            .tooltiptext {
                visibility: visible;
            }
        }
        .boutonSelection {
                border: 3px solid black;
                border-radius: 10px;
                box-shadow:
                        0 0 15px 8px #f8ff24;
        }
    }

    .message {
        border-radius: 10px;
        color: black;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 200px;
        margin-right: 200px;
        position:sticky;
        text-align: center;
        top: 110px;
        z-index: 10;
    }

    .tutoriel {
        grid-area: t;
        background:#e9ffd9;
        border: 1px solid #a6ca8a;
    }

    .error {
        grid-area: e;
        background:#ffecec;
        border: 1px solid #f5aca6;
    }



    #checkBoxSimple{
        color:black;
    }

    .demonstration {
        grid-area: d;
        background-image: url("../../../public/img/fond_ligne_cahier.png");
        border-radius: 10px;
        color : black;
        margin-top: 50px;

        div {
            border-radius: 10px;
            padding: 5px 10px 5px 10px;
            text-align: left;
            background : rgba(255, 255, 255, 0.5);
        }

        div {
            cursor: pointer;
        }

        div:hover {
            color: #444444;
        }
    }

    [type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
        left: -9999px;
		position: absolute;
	}

	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
        cursor: pointer;
        padding-left: 75px;
		position: relative;
	}

	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before,
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}

	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		background: linear-gradient(to right, #989eaf, #6173a1);
        border: 2px solid lightgray;
		border-radius: 20px;
        height: 40px;
        left: 0;
        top: -12px;
		transition: background-color .2s;
        width: 85px;
	}

	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
        background: #d82828;
        border-radius: 50%;
		height: 35px;
        left: 4px;
        top: -8px;
		transition: all .2s;
        width: 35px;
	}

	/* on checked */
	[type="checkbox"]:checked + label:before {
		background:linear-gradient(to right, #d4ddf5, #97b4fc);
	}

	[type="checkbox"]:checked + label:after {
		background: #14f585;
        left: 50px;
		top: -8px;
	}
}
