.popupForms-box {
    position: fixed;
    bottom: 1%;
    right: 1%;
    max-height: fit-content;
    width: auto;
  
    .box {
        color: black;
        background: #fac906;
        border-radius: 8px;
        padding: 10px;
        overflow: auto;
        text-align: center;

        a {
            color: black;
            font-family: "Fredericka the Great", cursive;
            text-decoration: none;
        }
    }
}