.popupForms-box {
    position: fixed;
    bottom: 1%;
    right: 1%;

    .bigbox {
        position: relative;
        margin: 0 auto;
        height: auto;
    }
      
    .box {
        color: black;
        margin-top: 30vh;
        background: #fac906;
        border-radius: 8px;
        padding: 10px;
        overflow: auto;
        text-align: center;

        a {
            color: black;
            font-family: "Fredericka the Great", cursive;
            text-decoration: none;
        }
    }
}