.home {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas:
        "h h h h h h h"
        "l . . . . . r"
        "l t t t t t r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r"
        "l m m m m m r";

    #regles {
        grid-area: t;
        height: fit-content;
        font-family: 'FilmCryptic';
        font-size: 20px;
        text-align: justify;
        // Fond ardoise
        background-image: url("../../../public/img/fond_ardoise.png");
        margin-top: 6%;
        margin-left: 14%;
        margin-right: 14%;
        margin-bottom: 2%;
        padding-top: 1%;
        padding-bottom: 2%;
        border: 10px solid transparent;
        border-image: url("../../../public/img/fond_bois.png") 30 30 stretch;
        border-width: 13px;
        box-shadow: 7px 7px 15px black;

        li {
            padding-right: 2%;

            li {
                padding-right: 0%;
            }
        }
    }
}