.about {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas:
        "h h h"
        "l m r";
    
    .credits {
        grid-area: m;
        font-family: 'FilmCryptic';
        font-size: 20px;
        text-align: center;
        // Fond ardoise
        background-image: url("../../../public/img/fond_ardoise.png");
        margin-left: 14%;
        margin-right: 14%;
        // border-image: url("../../../public/img/fond_bois.png") 30 30 stretch;
        // border: 10px inset transparent 30 30 stretch;
        border-width: 20px;
        border-radius: 4%;
    
        h2 {
            margin-top: 1%;
        }
        
        img {
            height: 175px;
            width: auto;
            border-radius: 25px;
        }
    
        ul {
            padding: 0;
            text-align: center;
        }
    
        li {
            list-style-type: none;
        }
    
        .linkedin {
            height: 15px;
            width: auto;
            border-radius: 0px;
        }
    }
}