body {
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  min-height: 100vh;
  min-width: 100wh;
  background-color: #432F75;
  //background-image: url("../../public/img/fond.jpg");
  background-image : linear-gradient( to bottom, #7887AB, #162856 );
  color: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
}
