.choice{
    grid-area: m;
    padding-top: 20%;
    margin: 0 auto;
    li {
        background-color: lightgray;
        list-style-type: none;
        padding: 30px;
        border-radius: 5px;
        margin: 0 3vw;
        display: inline;
    }
    a {
        font-size: large;
        text-decoration: none;
        color : black;
    }
    li:hover{
        background-color: gray;
        a:hover{
            background-color: gray;
        }
    }

}