.deck {
  background-color: beige;
  grid-area: 1;
  position: relative;
  top: 40px;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border: 3px solid white;
  h3{
    color : black;
    text-align: center;
    margin-bottom: 10%;
  }
  .goal {
    grid-area : goal;
  }
  
  .start {
    grid-area: start;
  }
}

