.game {
  grid-area: m;
  background-color: black;
  position: relative;

  padding: 5% 5% 5% 5%;
  border: 5px solid rgb(28, 2, 53);
  display: grid;
  grid-template-columns: 20% 30% 30% 20%; 
  grid-template-areas:
  "start . . goal"
  "start . . goal"
  "start . . goal";
}
