.game {
  grid-area: m;
  background-color: black;
  position: relative;

  padding-bottom: 10%;
  padding-left: 10%;
  border: 15px solid white;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; 
  grid-template-areas:
  "start . . goal"
  "start . . goal"
  "start . . goal";
}
