.game {
  grid-area: m;
  background-color: rgba(117, 190, 218, 0.7);
  position: relative;
  padding: 55px 5% 5% 5%;
  border: 5px solid rgb(28, 2, 53);
  display: grid;
  grid-template-columns: 20% 30% 30% 20%; 
  grid-template-areas:
  "b b b b"
  "t t t t"
  "e e e e"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "start other1 other2 goal"
  "d d d d";

  .bouton {
    grid-area: b;
    align-items: center;
    margin: auto;

    button {
      cursor: pointer;
      margin-bottom: 1.2vh;
      margin-top: 0.8vh;
      margin-right: 2vh;
      margin-left: 2vh;
    }
  }

  .message {
  color: black;
  text-align: center;
  border-radius:10px;
  margin-left: 100px;
  margin-right: 100px;
  font-weight:bold;
  font-size: 14px;
  margin-bottom: 5px;
  }

  .tutoriel {
    grid-area: t;
    background:#e9ffd9;
    border:1px solid #a6ca8a;
  }

  .error {
    grid-area: e;
    background:#ffecec;
    border:1px solid #f5aca6;
  }

  .boutonSelection {
    border: #a6ca8a solid 5px;
    border-radius: 1px;
  }
  .demonstration {
    grid-area: d;
    background: white;
    color : black;
    margin-top: 50px;
    div{
      cursor: pointer;
    }
    div:hover{
      font-weight: bold;
      
    }
  }
}
