.card {
    margin-top: 20px;
    margin-bottom: 20px;
    color : black;
    cursor: pointer;
  
    .affix_h {
        border-radius: 5px;
        font-size: 2vh;
        position: absolute;
        background-color: rgba(160, 160, 160, 0.9);
        border: 2px solid rgb(160, 160, 160);
        margin-top: -8.8vh;
        margin-left: 7.3vh;
        padding: 1vh 0.5vh;
        display: inline-block;
        vertical-align: middle;
        transition: all .5s;
    }

    .affix_v {
        border-radius: 5px;
        font-size: 2vh;
        position: absolute;
        background-color: rgba(160, 160, 160, 0.9);
        border: 2px solid rgb(160, 160, 160);
        margin-top: -2vh;
        margin-left: 2.5vh;
        padding: 0.2vh 1vh;
        display: inline-block;
        vertical-align: middle;
        transform: rotate(90deg);
        transition: all .5s;
    }

    .no_rotate {
        transform: rotate(0deg);
        width: 2vh;
        text-align: center;
    }

    .card_simple_h {
        border-radius: 2vh;
        box-shadow: 0 10px 90px #00000024;
        background-color: black;
        border: 0.4vh solid #800000;
        height: 11.3vh;
        width: 8vh;
        margin: 2px 0.3vh 2px 0.3vh;
        transition: all .5s;
    }

    .card_simple_w {
        border-radius: 2vh;
        box-shadow: 0 10px 90px #00000024;
        background-color: black;
        border: 0.4vh solid #800000;
        height: 5.12vh;
        width: 8vh;
        margin:2px;
        transition: all .5s;
    }

    .card_simple {
        display: grid;
        grid-template-columns: 9vh;
        grid-template-rows: 1fr;
        grid-template-areas: "a";
    }

    .card_double {
        display: grid;
        grid-template-columns: 9vh 9vh;
        grid-template-rows: 1fr;
        grid-template-areas: "a a";
    }

    .card_triple_a {
        display: grid;
        grid-template-columns: 9vh 9vh;
        grid-template-rows: 6vh 6vh;
        grid-template-areas:
            "a b"
            "a c";

        .card0 {
            grid-area: a;
        }

        .card1 {
            grid-area: b;
        }

        .card2 {
            grid-area: c;
        }
    }

    .card_triple_b {
        display: grid;
        grid-template-columns: 9vh 9vh;
        grid-template-rows: 6vh 6vh;
        grid-template-areas: 
            "a c"
            "b c";
    
        .card0 {
            grid-area: a;
        }
    
        .card1 {
            grid-area: b;
        }

        .card2 {
            grid-area: c;
        }
    }

    .card_quadruple {
        display: grid;
        grid-template-columns: 9vh 9vh;
        grid-template-rows: 6vh 6vh;
        grid-template-areas:
            "a a"
            "a a";
    }

    .card_help {
        border: 0.80vh solid #102245;
        margin: 0px;
    }

    .card_non {
        border: 0.80vh solid green;
        margin: 0px;
    }

    .card_selec {
        border: 0.65vh solid black;
        margin: 0px;
    }

    .card_simple:hover {
        grid-template-columns: 11vh;

        .card_simple_h {
            height: 13.3vh;
            width: 10vh;
        }
    }

    .card_double:hover {
        grid-template-columns: 11vh 11vh;

        .card_simple_h {
            height: 13.3vh;
            width: 10vh;
        }

        .affix_h {
            font-size: 3vh;
            margin-top: -10.5vh;
            margin-left: 8.5vh;
        }
    }

    .card_triple_a:hover, .card_triple_b:hover, .card_quadruple:hover {
        grid-template-columns: 11vh 11vh;
        grid-template-rows: 7vh 7vh;

        .card_simple_h {
            height: 13.3vh;
            width: 10vh;
        }

        .card_simple_w {
            height: 6.12vh;
            width: 10vh;
        }

        .affix_h {
            font-size: 3vh;
            margin-top: -10.5vh;
            margin-left: 9vh;
        }

        .affix_v {
            font-size: 3vh;
            margin-top: -2.7vh;
            margin-left: 3vh;
        }
    }.card_simple_hover {
        grid-template-columns: 11vh;

        .card_simple_h {
            height: 13.3vh;
            width: 10vh;
        }
    }

    .card_double_hover {
        grid-template-columns: 11vh 11vh;

        .card_simple_h {
            height: 13.3vh;
            width: 10vh;
        }

        .affix_h {
            font-size: 3vh;
            margin-top: -10.5vh;
            margin-left: 8.5vh;
        }
    }

    .card_triple_a_hover, .card_triple_b_hover, .card_quadruple_hover {
        grid-template-columns: 11vh 11vh;
        grid-template-rows: 7vh 7vh;

        .card_simple_h {
            height: 13.3vh;
            width: 10vh;
        }

        .card_simple_w {
            height: 6.12vh;
            width: 10vh;
        }

        .affix_h {
            font-size: 3vh;
            margin-top: -10.5vh;
            margin-left: 9vh;
        }

        .affix_v {
            font-size: 3vh;
            margin-top: -2.7vh;
            margin-left: 3vh;
        }
    }
}
