.choice {
    grid-area: m;
    padding-top: 1%;
    padding-left: 13%;
    padding-right: 13%;
    text-align: center;
    margin: 0 auto;

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        padding: auto;
        margin: 3vw;
        display: inline-block;

        a {
            background-color: lightgray;
            font-size: large;
            text-decoration: none;
            color : black;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 7px 7px 15px black;
        }
    }

    li:hover {
        background-color: gray;

        a:hover {
            background-color: gray;
        }
    }
}